.game_board {
  background-color: #5c6366;
  background-image:linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
}